<div class="container">
  <div class="row">
    <div class="card col-8 mt-3">
      <div class="m-4">
        <h3>今月の家計簿</h3>
        <p>(日付～日付）</p>
        <div>円グラフ</div>
      </div>
    </div>
    <div class="card col-3 mt-3">
      <div class="m-4">
        <table>
          <tr>
            <th>収入</th>
            <td>￥<%= @end_user.income_total %></td>
          </tr>
          <tr>
            <th>支出</th>
            <td>￥00000</td>
          </tr>
          <tr>
            <th>収支</th>
            <td>￥00000</td>
          </tr>
        </table>
        <%= link_to "収入を追加する", new_account_book_path, method: :get %>
      </div>
    </div>
  </div>
</div>