<div class="container">
  <div>
    <h3>今月の家計簿</h3>
    <p>(日付～日付）</p>
    <div>円グラフ</div>
  </div>
  <div>
    <table>
      <tr>
        <th>収入</th>
        <td>￥00000</td>
      </tr>
      <tr>
        <th>支出</th>
        <td>￥00000</td>
      </tr>
      <tr>
        <th>収支</th>
        <td>￥00000</td>
      </tr>
    </table>
    <h3>帳簿一覧</h3>
    <% @account_books.each do |account_book| %>
      <div><%= account_book.name %></div>
    <% end %>
    <%= link_to "帳簿を追加する", new_account_book_path, method: :get %>

  </div>
</div>