<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>今月の家計簿</h3>
      <p>(日付～日付）</p>
      <div>円グラフ</div>
    </div>
    <div class="col-5">
      <div class="card">
        <h4>支出一覧</h4>
        <%= link_to new_bop_subject_path do %>
          <p>+</p>
        <% end %>
        <% @bop_subjects.each do |bop_subject| %>
          <div><%= bop_subject.subject_name %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>