<tr>
  <td><%= f.text_field :detail_name, :placeholder => "細目名（例：バナナなど）", class: "form-control mr-3" %></td>
  <td><%= f.text_field :amount, :placeholder => "3", class: "form-control mr-3" %></td>
  <td><%= f.text_field :detail_price, :placeholder => "1000", class: "detail_price form-control", style: "width:85%;" %></td>
</tr>