<tr class="nested-fields">
  <td>
    <%= f.text_field :detail_name, :placeholder => "細目名（例：バナナなど）", class: "form-control mr-3" %>
  </td>
  <td>
    <%= f.text_field :amount, class: "form-control mr-3" %>
  </td>
  <td>
    <%= f.text_field :detail_price, :placeholder => "1000", class: "detail_price form-control" %>
  </td>
  <td>
    <%= link_to_remove_association f, class: 'bg-orange btn-type-s' do %>
      <i class="fas fa-trash" style="font-size: 20px; color: black;"></i>
    <% end %>
  </td>
</tr>