<div class="text-center mt-5">
  <h6>CHOBOへようこそ！！</h6>
  <p>
    このアプリケーションは、家計簿を管理できるアプリケーションです。<br>
    ゲストログインも可能ですので、興味のある方は試してみてください。<br>
  </p>
  <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-secondary col-7 mt-2" %>
  <%= link_to "ゲストログイン", end_users_guest_sign_in_path, method: :post, class: "btn btn-secondary col-7 mt-2" %>
  <%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-secondary col-7 mt-2" %>
</div>