<div class="text-center m-5">
  <h6 class="my-5" style="font-size: 30px;">CHOBOへようこそ！！</h6>
  <p class="my-5">
    このアプリケーションは、家計簿を管理できるアプリケーションです。<br>
    ゲストログインも可能ですので、興味のある方は試してみてください。<br>
  </p>
  <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-secondary col-7 my-3" %>
  <%= link_to "ゲストログイン（閲覧用）", end_users_guest_sign_in_path, method: :post, class: "btn btn-secondary col-7 my-3" %>
  <%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-secondary col-7 my-3" %>
</div>