<div class="col-7 mx-auto mt-5">
  <div class="card">
    <div class="m-5">
      <h3 class="d-inline">相談一覧</h3>
      <div class="d-inline" style="">
        <%= link_to "相談する", new_consultation_path, class: "btn btn-secondary" %>
      </div>
      <table>
        <tbody>
          <% @consultations.each do |consultation| %>
            <tr>
              <td>
                <%= link_to consultation_path(consultation) do %>
                  <%= consultation.title %>
                <% end %>
              </td>
              <% @tag_list.each do |tag_list| %>
                <td><%= tag_list.name %></td>
              <% end %>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>