<!--favorited_by?はconsultationモデルに記載した独自のメソッド-->
<% if consultation.favorited_by?(current_end_user) %>
  <p style="min-width: 30px;">
    <%= link_to consultation_favorites_path(consultation), method: :delete, remote: true do %>
      ♥
    <% end %>
    <%= consultation.favorites.count %>
  </p>
<% else %>
  <p style="min-width: 30px;">
    <%= link_to consultation_favorites_path(consultation), method: :post, remote: true do %>
      ♡
    <% end %>
    <%= consultation.favorites.count %>
  </p>
<% end %>