/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*:placeholder {*/
/*  color: #CCCCCC;*/
/*}*/


.sign-up-btn .btn {
  display: block;
  margin: auto;
}

.btn-center .btn {
  display: block;
  margin: auto;
}

.comment-card {
  margin-right: auto;
}

.comment-box {
  width: 90%;
}

.coment_name_body {
  padding: 10px;
}

.comment {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  color: #555;
  font-size: 16px;
  background: #fafafa;
}

.comment:before {
  content: "";
  position: absolute;
  top: 5%;
  left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #fafafa;
}

.comment-card-right {
  display: flex;
  justify-content: flex-end;

}

.comment-box-right {
  width: 90%;
}

.coment_name_body-right {
  padding: 10px;
  justify-content: flex-end;
}

.comment-right {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  color: #555;
  font-size: 16px;
  background: #fafafa;
}

.comment-right:before {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid #fafafa;
}

.btn-group > label > input {
  display: none;
}

.btn-group > label {
  border-color: #cacaca;
  border-width: 1px;
}

/*bop_subjectのnewのbop切り替え*/
.bop_group .bop_form {
    display:none;
}

.bop_group .bop_form.active {
    display:block;
}