<% if resource.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <h3>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert alert-danger" role="alert" style="width:26%; margin: 15px 400px;">
    <div id="error_explanation">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  </div>
<% end %>
<% if flash.now[:notice].present? %>
  <%= flash[:notice] %>
<% end %>